// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items{
	border:	2px solid black;
		margin: 10px;
		padding: 10px;
		text-align: center;
      li{
        list-style-type: none;
      }

}



.page{
	width: 900px;
    margin: 0 auto;
    border: 3px solid black;
    padding: 10px
}

#cart {
  border:	2px solid black;

  li{
    list-style-type: none;
  }
}