<div id="cart">
  <% @cart_items.each do |items| %>
  <ul>
    <li><%= items.name %></li>
    <li><%= number_to_currency items.cost %></li>
  </ul>
  <% end %>


  <%= link_to 'Check Out', 'products/checkout' %>
</div>