
<div class="items">
	<ul>
		<h3><%= link_to product.name, "product" %></h3>


		
		<li><strong>Price:</strong> <%= number_to_currency product.price %></li>

		<li><%= product.description %></li>
		<br>

	</ul>




</div>
<br>

