
<div class="items">
	<ul>
		<h3><%= link_to product.name, show_path(product) %></h3>


		
		<li><strong>Price:</strong> <%= number_to_currency product.price %></li>

		<li><%= product.description %></li>
		<br>

		<li><strong>category:</strong><%= product.category.name %></li>
	</ul>




</div>
<br>

